In [11]:
principal = 49000000
rate = 0.09
numyears = 8
year = 1

while year <= numyears:
    principal *= (1 + rate)
    format(principal, '0.2f')
    print(f'{year:>3d} {principal}')
    year += 1

  1 53410000.00000001
  2 58216900.000000015
  3 63456421.00000002
  4 69167498.89000003
  5 75392573.79010004
  6 82177905.43120904
  7 89573916.92001787
  8 97635569.44281949

In [52]:
a = 0b11001001
mask = 0b11110000
x = (a & mask) >> 4

In [53]:
print(x)

12

In [61]:
a = 40
b = 5
if a > b:
    maxval = a
else:
    maxval = b

In [63]:
print('a:', a, 'b:', b, 'maxval', maxval)

a: 40 b: 5 maxval 40

In [62]:
maxval = a if a>b else b

In [64]:
x = 0
while (x := x + 1) < 10:
    print(x)

1
2
3
4
5
6
7
8
9

In [67]:
walrus = False
walrus

False

In [68]:
(walrus := True)
walrus

True

In [ ]:
x, y = 3, 8
if x == y:
    print(f'x and y are equal ({x = }, {y = })')

In [75]:
(walrus := True)

True

In [76]:
walrus = True

In [ ]:
x = 0
while x < 10:
    print(x)
    if x == 5:
        break
    x += 1
print('Done')

In [1]:
a = 'Hello World'
print(len(a))

11

In [2]:
b = a[4]
c = a[-1]
print(b)
print(c)

o
d

In [3]:
g = a + 'ly'
g

'Hello Worldly'

In [5]:
s = 'hello\nworld'
print(str(s))

hello
world

In [6]:
print(repr(s))

'hello\nworld'

In [9]:
class student:
    name = ''
    
std = student()
print(std)
repr(std)

<__main__.student object at 0x7f9323dcb220>

'<__main__.student object at 0x7f9323dcb220>'

In [12]:
pwd

'/Users/nealaggarwal/MIT/explorations'

In [13]:
!touch data.txt

In [14]:
ls

OOP.ipynb  data.txt

In [16]:
with open('data.txt') as file:
    for line in file:
        print(line, end='') # end omits extra newline

This
Is my
Stupid
Empty
file

In [17]:
36887-38343

-1456

In [19]:
file = open('data.txt')
for line in file:        
    print(line, end='')
file.close()

This
Is my
Stupid
Empty
file

In [20]:
with open('data.txt') as file:
    data = file.read()
    print(data)

This
Is my
Stupid
Empty
file

In [22]:
with open('data.txt') as file:
    while True:
        chunk = file.read(100)
        if not chunk:
            break
        print(chunk, end='')

This
Is my
Stupid
Empty
file

In [23]:
names = ['Dave', 'Paula', 'Thomas', 'Lewis']

In [24]:
a = names[2]

In [25]:
a

'Thomas'

In [26]:
names[2] = 'Tom'
a

'Thomas'

In [27]:
names

['Dave', 'Paula', 'Tom', 'Lewis']

In [28]:
names.append('Alex')
names

['Dave', 'Paula', 'Tom', 'Lewis', 'Alex']

In [29]:
names.insert(2, 'Ayla')

In [30]:
names

['Dave', 'Paula', 'Ayla', 'Tom', 'Lewis', 'Alex']

In [32]:
for name in names:
    print(name,)

Dave
Paula
Ayla
Tom
Lewis
Alex

In [33]:
b = names[0:2]

In [34]:
b

['Dave', 'Paula']

In [35]:
c = names[2:]
c

['Ayla', 'Tom', 'Lewis', 'Alex']

In [36]:
empty_list1 = []
empty_list1
empty_list2 = list()
empty_list2

[]

In [37]:
empty_list1

[]

In [38]:
empty_list2

[]

In [39]:
letters = list('Dave')

In [40]:
letters

['D', 'a', 'v', 'e']

In [42]:
a = [1, 'Dave', 3.14, ['Mark', 7, 9, [100, 101]], 10]

In [43]:
a

[1, 'Dave', 3.14, ['Mark', 7, 9, [100, 101]], 10]

In [44]:
a[1]

'Dave'

In [45]:
a[3][2]

9

In [48]:
a[3][3][1]

101

In [49]:
a[-1]

10

In [50]:
import sys
if len(sys.argv) != 2:
    raise SystemExit(f'Usage: {sys.argv[0]} filename')
    
rows = []
with open(sys.argv[1], 'rt') as file:
    for line in file:
        rows.append(line.split(','))
        
total = sum([int(row[1]) * float(row[2]) for row in rows])
print(f'Total cost: {total:0.2f}')

SystemExit: Usage: /Users/nealaggarwal/.conda/envs/MITenv/lib/python3.10/site-packages/ipykernel_launcher.py filename

/Users/nealaggarwal/.conda/envs/MITenv/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3441: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [51]:
%tb

SystemExit: Usage: /Users/nealaggarwal/.conda/envs/MITenv/lib/python3.10/site-packages/ipykernel_launcher.py filename

In [52]:
class BigObject():
    pass

obj1 = BigObject()

print(type(obj1))

<class '__main__.BigObject'>

In [134]:
class PlayerCharacter:
    # Class Object Attribute
    membership = True
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def run(self):
        return self
        
player1 = PlayerCharacter('dna', 62)
print(player1.run())

<__main__.PlayerCharacter object at 0x7f9326df6a70>

In [147]:
import socket
mysock = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
mysock.connect(('data.pr4e.org', 80))
cmd = 'GET http://data.pr4e.org/romeo-full.txt HTTP/1.0\n\n'.encode()
mysock.send(cmd)
while True:
    data = mysock.recv(512)
    if (len(data) < 1):
        break
    print(data.decode())
mysock.close()

HTTP/1.1 400 Bad Request
Date: Sat, 04 Feb 2023 09:18:37 GMT
Server: Apache/2.4.18 (Ubuntu)
Content-Length: 308
Connection: close
Content-Type: text/html; charset=iso-8859-1

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>400 Bad Request</title>
</head><body>
<h1>Bad Request</h1>
<p>Your browser sent a request that this server could not understand.<br />
</p>
<hr>
<address>Apache/2.4.18 (Ubuntu) Server at do1.dr-chuck.com Port 80</address>
</body></html>